.guest .for_enter {
  position: static;
  margin: 0;
  width: 300px;
  min-height: 195px;
  background-color: #fff;
  /*border-radius: 0 0 10px 10px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px 20px;
}
.guest .for_enter_wrap {
  display: none;
  position: absolute;
  /*top: 100%;*/
  right: -40px;
}
.guest .for_enter__input {
  width: 100%;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #ececec;
  padding: 0 15px;
}
.guest .for_enter__submit {
  margin: 0 auto;
  width: 70%;
  height: 37px;
  font-weight: 500;
  border: 1px solid #ffb100;
  background-color: #ffb100;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
}
.guest .for_enter .children__checkbox {
  padding: 0;
}
.guest .for_enter .children__checkbox button {
  position: relative;
}
.guest .for_enter .children__checkbox button:before {
  margin-left: 10px;
  display: block;
  font-size: 14px;
  width: 150px;
  content: attr(data-name);
  color: #333;
}
.guest .fix_height {
  height: 275px;
}

#modal_confirm_phone .for_enter p {
  margin-bottom: 5px;
  font-size: 14px;
}

#modal_confirm_actions {
  margin-top: 10px;
  width: 100%;
}

#modal_confirm_phone .for_enter {
  height: auto;
  min-height: auto;
}

#modal_confirm_phone .for_enter call {
  white-space: nowrap;
}

#modal_confirm_phone .for_enter #confirm_phone_link {
  margin: 0 auto;
  padding: 7px 10px;
  display: block;
  font-weight: 500;
  border: 1px solid #ffb100;
  background-color: #ffb100;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
}

#confirm_phone_link svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: white;
}

.welcome {
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .welcome {
    min-height: 500px;
  }
}
@media (max-width: 992px) {
  .welcome {
    min-height: 120vw;
  }
}
.welcome_wrap {
  width: 100%;
  /*background: url("/images_new/general/bg_welcome.webp") no-repeat center right;*/
  background-position: center bottom;
  background-size: cover;
}
@media only screen {
  /* маленький экран, не retina */
  .welcome_wrap {
    background-image: url(/images_new/general/slide320.jpg); 
  }
}
@media only screen and (min-resolution: 2dppx) {
  /* маленький экран, retina */
  .welcome_wrap {
    background-image: url(/images_new/general/slide320@2x.jpg);
  }
}
@media only screen and (min-width: 321px) {
  /* экран среднего размера, не retina */
  .welcome_wrap {
    background-image: url(/images_new/general/slide640.jpg); 
  }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 321px) {
  /* экран среднего размера, retina */
  .welcome_wrap {
    background-image: url(/images_new/general/slide640@2x.jpg); 
  }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 539px) {
  /* большой экран, retina */
  .welcome_wrap {
      background-image: url(/images_new/general/slide960@2x.jpg); 
  }
}
@media only screen and (min-width: 1000px) {
  /* стандартный экран, не retina */
  .welcome_wrap {
    background-image: url(/images_new/general/slide.jpg);
  }
}

.welcome__form {
  padding: 30px;
  width: 600px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .welcome__form {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .welcome__form {
    width: 480px;
  }
}
@media (max-width: 992px) {
  .welcome__form {
    width: 100%;
    padding: 4vw;
    border-radius: 2.666666666666667vw;
  }
}
.welcome__title {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 1300px) {
  .welcome__title {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .welcome__title {
    margin-bottom: 4vw;
  }
}
.welcome__title span {
  margin-left: 7px;
  color: #ffae00;
}
@media (max-width: 992px) {
  .welcome__title span {
    margin-left: 1.866666666666667vw;
  }
}
.welcome__label {
  margin-bottom: 25px;
  width: 100%;
  height: 65px;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dfdfdf;
}
@media (max-width: 992px) {
  .welcome__label {
    margin-bottom: 4vw;
    width: 100%;
    height: 16vw;
    border-radius: 2.666666666666667vw;
  }
}
.welcome__col:first-child {
  border-right: 1px solid #dfdfdf;
}
.welcome__col,
.welcome__row {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 23px;
}
@media (max-width: 992px) {
  .welcome__col,
  .welcome__row {
    padding: 0 4vw;
  }
}
.welcome__row {
  width: 100%;
}
.welcome__sub {
  color: #aeaeae;
  position: absolute;
  z-index: 1;
  top: -3px;
}
.welcome__input {
  padding-top: 20px;
  color: #333;
  border: none;
  position: relative;
  z-index: 2;
  background-color: transparent;
}
@media (max-width: 992px) {
  .welcome__input {
    padding-top: 4vw;
  }
}
.welcome__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome__submit {
  width: 360px;
  height: 53px;
  font-weight: 500;
  border: 1px solid #ffb100;
  background-color: #ffb100;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .welcome__submit {
    width: 100%;
    height: 13.333333333333334vw;
    border-radius: 1.866666666666667vw;
  }
}
.welcome__submit:hover {
  color: #ffb100;
  background-color: #fff;
}
.welcome__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 26px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
@media (max-width: 992px) {
  .welcome__icon {
    right: 4vw;
    width: 5.866666666666666vw;
    height: 5.866666666666666vw;
  }
}
.welcome__svg {
  width: 100%;
  height: 100%;
  fill: #ffb100;
}
.fix_icon {
  width: 30px;
  height: 30px;
}
@media (max-width: 992px) {
  .fix_icon {
    width: 6.666666666666667vw;
    height: 6.666666666666667vw;
  }
}
.last_label {
  position: relative;
}
.last_label .select {
  display: none;
  position: absolute;
  bottom: 57px;
  left: -1px;
  background-color: #fff;
  width: calc(100% + 2px);
  z-index: 30;
  border-radius: 10px 10px 0 0;
  border: 1px solid #dfdfdf;
}
.last_label .select__item:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.last_label .select__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}
.last_label .select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.last_label .select__title .text_16 {
  color: #aeaeae;
}
.last_label .select__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.last_label__active {
  border-radius: 10px 10px 0 0;
}
.children_wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.children {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 0;
}
.children_wrap {
  width: 100%;
}
.children_append {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.children__placeholder {
  width: 68%;
}
@media (max-width: 992px) {
  .children__placeholder {
    width: 60%;
  }
}
.children__checkbox {
  width: 32%;
  padding-top: 5px;
  padding-left: 15px;
}
@media (max-width: 992px) {
  .children__checkbox {
    width: 40%;
  }
}
.children__title {
  padding: 0 10px 0 15px;
  width: 100%;
  text-align: left;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  color: #aeaeae;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
@media (max-width: 992px) {
  .children__title {
    font-size: 3.2vw;
  }
}
.children__icon {
  width: 15px;
  height: 15px;
  fill: #ffb100;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.children__list {
  width: 100%;
  display: none;
  padding: 15px;
  border: 1px solid #dfdfdf;
}
.children__item {
  padding: 0;
  background: none;
  border: none;
  text-align: left;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .children__item {
    line-height: 2.5;
    font-size: 3.733333333333334vw;
  }
}
.children__item:hover {
  color: #ffb100;
}
.children__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.children__checkbox .text_14 {
  padding-left: 10px;
  width: calc(100% - 15px);
}
@media (max-width: 992px) {
  .children__checkbox .text_14 {
    font-size: 2.666666666666667vw;
  }
}
.children__btn {
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 3px;
  background: #aeaeae;
  border: none;
}
.check_active {
  background: #aeaeae url("/images_new/svg/check.svg") no-repeat center center;
  background-size: 70% 70%;
}
.num_package {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.num_package__btn {
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
  font-weight: 400;
}
.num_package__counter {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 40px;
  font-weight: 400;
}
.active_select {
  border-radius: 10px 10px 0 0;
}
.active_select svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.select_city {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.select_city_wrap {
  display: none;
  width: calc(100% + 2px);
  position: absolute;
  top: 112%;
  left: -1px;
  border: 1px solid #dfdfdf;
  border-radius: 0 0 10px 10px;
  background: #fff;
  z-index: 40;
  /* height: 220px; */
  overflow-y: scroll;
}
@media (max-width: 992px) {
  .select_city_wrap {
    top: 121%;
    /* height: 52vw; */
  }
}
.select_city__item,.select_gen__item {
  padding: 5px 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.select_city__item:hover, .select_gen__item:hover {
  background-color: #dfdfdf;
}
.select_city__item .text_16, .select_gen__item .text_16 {
  color: #aeaeae;
}
.fix_cursor {
  cursor: pointer;
}
.btn_reverse {
  z-index: 3;
}
@media (max-width: 992px) {
  .city_out {
    width: calc(200% + 4px);
  }
}
@media (max-width: 992px) {
  .city_in {
    left: initial;
    right: -1px;
    width: calc(200% + 2px);
  }
}
input[name="out"] {
  padding-right: 50px;
}
@media (max-width: 992px) {
  input[name="out"] {
    padding-right: 7.733333333333333vw;
  }
}
input[name="out"],
input[name="ClientExt[places_count]"] {
  pointer-events: none;
}
.children_complete {
  color: #333;
}
.list_info {
  width: 100%;
}
@media (max-width: 992px) {
  .list_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 8vw;
  }
  .list_info br {
    display: none;
  }
}
.list_info_wrap {
  width: 100%;
  padding: 40px 0 45px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.21);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.21);
}
@media (max-width: 992px) {
  .list_info_wrap {
    padding: 10.666666666666668vw 0 2.666666666666667vw;
  }
}
@media (max-width: 992px) {
  .list_info__main {
    width: 80%;
  }
}
.list_info__icon {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .list_info__icon {
    min-height: initial;
    width: 20%;
  }
}
.list_info__img {
  width: 70%;
}
@media (max-width: 992px) {
  .list_info__img {
    width: 70%;
  }
}
.list_info__img svg {
  height: 45px;
  fill: #ffb100;
}
.list_info__title {
  padding: 15px 0 10px 0;
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .list_info__title {
    padding: 0 0 5px;
  }
}
@media (max-width: 992px) {
  .fix_img {
    width: 70%;
  }
}
.services,
.information {
  width: 100%;
}
.services_wrap,
.information_wrap {
  width: 100%;
  padding: 45px 0 28px;
}
@media (max-width: 992px) {
  .services_wrap,
  .information_wrap {
    padding: 8vw 0 4vw;
  }
}
.services__title,
.information__title {
  font-weight: 500;
  color: #7b1717;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .services__title,
  .information__title {
    padding-bottom: 5.333333333333334vw;
  }
}
.services__text,
.information__text {
  padding-bottom: 25px;
}
@media (max-width: 992px) {
  .services__text,
  .information__text {
    padding-bottom: 4vw;
  }
}
.services__sub,
.information__sub {
  padding-bottom: 25px;
}
@media (max-width: 992px) {
  .services__sub,
  .information__sub {
    padding-bottom: 4vw;
  }
}
.services__list,
.information__list {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services__item,
.information__item {
  margin-bottom: 25px;
  width: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .services__item,
  .information__item {
    margin-bottom: 4vw;
  }
}
.services__item:before,
.information__item:before {
  content: attr(data-num);
  margin-right: 10px;
}
@media (max-width: 992px) {
  .services__item:before,
  .information__item:before {
    margin-right: 2.666666666666667vw;
  }
}
.services__read,
.information__read {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: #7b1717;
}
.services__read__svg,
.information__read__svg {
  width: 30px;
  height: 30px;
  fill: #7b1717;
  margin-left: 40px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .services__read__svg,
  .information__read__svg {
    width: 6.666666666666667vw;
    height: 6.666666666666667vw;
    margin-left: 4vw;
  }
}
.list_hidden {
  display: none;
}
.read_active svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.information_wrap {
  background-color: #fff9e0;
}
.information__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information__svg {
  width: 30px;
  height: 30px;
  margin-left: 65px;
  fill: #7b1717;
}
@media (max-width: 992px) {
  .information__svg {
    width: 6.666666666666667vw;
    height: 6.666666666666667vw;
    margin-left: 4vw;
  }
}
.cars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 992px) {
  .cars {
    overflow-x: scroll;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.cars_wrap {
  width: 100%;
}
@media (max-width: 992px) {
  .cars_wrap {
    overflow: hidden;
  }
}
.cars__row:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.cars__row:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.cars__item {
  display: inline-block;
  width: 43%;
  height: 427px;
  position: relative;
}
@media (max-width: 992px) {
  .cars__item {
    width: 77.33333333333333vw;
    height: 46.666666666666664vw;
    margin-left: 4vw;
  }
}
.cars__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,177,0,0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cars__item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: url("/images_new/svg/view.svg") no-repeat center center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cars__item:hover:after {
  opacity: 1;
}
@media (max-width: 992px) {
  .cars__item:hover:after {
    opacity: 0;
  }
}
.cars__item:hover:before {
  background: rgba(255,177,0,0.9);
}
@media (max-width: 992px) {
  .cars__item:hover:before {
    background: none;
  }
}
.cars__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.cars__btn {
  width: 100%;
  padding: 40px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .cars__btn {
    display: none;
  }
}
.cars__more {
  padding: 0;
  position: relative;
  color: #ffae00;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
}
.cars__more:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ffae00;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cars__more:hover:before {
  width: 0;
}
.video {
  width: 100%;
  height: 100%;
  background: url("/images_new/general/bg_video.webp") no-repeat center right;
  background-size: cover;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}
.video_wrap {
  width: 100%;
  height: 745px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .video_wrap {
    display: none;
  }
}
.video_wrap:hover > .video {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.video__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.video__link:hover > svg {
  fill: #ffae00;
}
.video__link:hover {
  color: #ffae00;
}
.video__svg {
  width: 45px;
  height: 45px;
  fill: #fff;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts {
  width: 100%;
  padding-left: 50px;
  padding-top: 40px;
}
@media (max-width: 992px) {
  .contacts {
    padding-left: 0;
    padding-top: 0;
  }
}
.contacts_wrap {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .contacts_wrap {
    padding: 10.666666666666668vw 0 0;
  }
}
@media (max-width: 992px) {
  .contacts_wrap .row {
    margin-right: -8vw;
    margin-left: -8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.contacts__title {
  line-height: 1;
}
@media (max-width: 992px) {
  .contacts__title {
    text-align: center;
  }
}
.contacts_list {
  margin-top: 30px;
  position: relative;
}
@media (max-width: 992px) {
  .contacts_list {
    padding: 6.666666666666667vw 0;
    -webkit-box-shadow: inset 0 0.8vw 2.666666666666667vw 0 rgba(0,0,0,0.31);
    box-shadow: inset 0 0.8vw 2.666666666666667vw 0 rgba(0,0,0,0.31);
  }
}
.contacts_list li:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .contacts_list li:not(:last-child) {
    margin-bottom: 8vw;
  }
}
.contacts_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .contacts_list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .contacts_list__text {
    padding: 0 20%;
  }
}
.contacts_list__icon {
  width: 30px;
  height: 30px;
  fill: #ffb100;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .contacts_list__icon {
    margin-right: 0;
    width: 8vw;
    height: 8vw;
    margin-bottom: 4vw;
  }
}
.contacts_list__link {
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .contacts_list__link {
    display: inline-block;
  }
}
.contacts_list__link:hover {
  color: #ffae00;
}
.icon-flag {
  flex: 0 0 30px;
  height: 40px;
}
@media (max-width: 992px) {
  .icon-flag {
    width: 10.666666666666668vw;
    height: 10.666666666666668vw;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 0 35px;
}
@media (max-width: 992px) {
  .social {
    padding: 5.333333333333334vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social__item {
  margin-right: 23px;
}
@media (max-width: 992px) {
  .social__item {
    margin: 0 2.666666666666667vw;
  }
}
.social__link {
  width: 37px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb100;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .social__link {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
  }
}
.social__link:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.social__icon {
  width: 60%;
  height: 60%;
  fill: #fff;
}
.map {
  width: 100%;
}
.map__img {
  width: 100%;
  height: 485px;
}
@media (max-width: 992px) {
  .map__img {
    height: 66.66666666666666vw;
  }
}

/* строка поиска с выпадающим списком */
.search-result-block ul.main-list {
  border: solid 1px #AAA;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  background: #ffffff;
  opacity: 0.9;
  color: #333333;
  width: 600px;
  position: absolute;
  z-index: 5;
}
.search-result-block ul.main-list li {
  list-style: none;
  padding: 0;
}

.search-result-block ul.main-list li.section-list strong {
  background-color: #EEE;
  padding: 4px 10px;
  display: inline-block;
  width: 100%;
}
.search-result-block ul.main-list li, .search-result-block ul.main-list li.empty-value {
  padding: 4px 10px;
}
.search-result-block ul.main-list li.empty-value {
  color: #ff0000;
}
.search-result-block ul.main-list li:not(.empty-value):hover {
  background-color: #0000aa;
  color: #ffffff;
  cursor: pointer;
}
.search-result-block ul.main-list li[aria-selected="true"] {
  background-color: #ddf5ff;
  color: #226688;
}

.form-group,
#new-order .error__wrapper {
  position: relative;
}

.form-group .help-block,
#new-order .error {
  display: none;
  background-color: #ff7575;
  color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  font-size: 14px;
}
@media (max-width: 992px) {
  .form-group .help-block {
    margin: 20px 10px 0 10px;
    padding: 10px 20px;
  }
  #new-order .error {
      margin-top: 20px;
      padding: 10px 20px;
  }
}
@media (min-width: 993px) {
  .form-group .help-block,
  #new-order .error {
    padding: 5px 10px;
  }
  .form-group .help-block {
    position: absolute;
    z-index: 2;
    bottom: calc(100% + 3px);
  }
}

.form-group .help-block a,
#new-order .error a {
  text-decoration: underline;
  color: white;
}

.form-group .help-block a:hover,
#new-order .error a:hover {
  text-decoration: none;
}

#new-order .error {
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 3px);
}

.form-group .help-block:before,
#new-order .error:before {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: calc(100% - 5px);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background: #ff7575;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
@media (max-width: 992px) {
  .form-group .help-block:before {
    display: none;
  }
}

.form-group.has-error .help-block {
  display: block;
}

.guest .field-user-rememberme {

}

.guest .field-user-rememberme label {
  position: relative;
  padding-left: 28px;
  font-size: 14px;
}

.guest .field-user-rememberme input[type="checkbox"] {
  display: none;
}

.guest .field-user-rememberme label:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 3px;
  background: #aeaeae;
}

.guest .field-user-rememberme input[type="checkbox"]:checked + label:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  background: url(/images_new/svg/check.svg) no-repeat center center;
  background-size: 70% 70%;
}

/* строка поиска с выпадающим списком */
.search-result-block ul.main-list {
  border: solid 1px #AAA;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  background: #ffffff;
  opacity: 0.9;
  color: #333333;
  width: 600px;
  position: absolute;
  z-index: 5;
}
.search-result-block ul.main-list li {
  list-style: none;
  padding: 0;
}

.search-result-block ul.main-list li.section-list strong {
  background-color: #EEE;
  padding: 4px 10px;
  display: inline-block;
  width: 100%;
}
.search-result-block ul.main-list li, .search-result-block ul.main-list li.empty-value {
  padding: 4px 10px;
}
.search-result-block ul.main-list li.empty-value {
  color: #ff0000;
}
.search-result-block ul.main-list li:not(.empty-value):hover {
  background-color: #0000aa;
  color: #ffffff;
  cursor: pointer;
}
.search-result-block ul.main-list li[aria-selected="true"] {
  background-color: #ddf5ff;
  color: #226688;
}
.no-pointer {
  pointer-events: none;
}