.psw-element {
    cursor: pointer;
    position: relative;
}

.psw-outer-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
.psw-inner-block {

}
.psw-inner-block .psw-search {
    width: 100%;
    padding: 9px 10px 10px;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    font-size: 18px;
}
.psw-outer-block .psw-select-block {
    padding: 0 23px;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.psw-outer-block .psw-select-block ul li {
    list-style: none;
    padding: 0;
}
.psw-outer-block .psw-select-block ul {

}
.psw-outer-block .psw-select-block ul li.section-list strong {
    background-color: #EEE;
    padding: 4px 10px;
    display: inline-block;
    width: 100%;
}
.psw-outer-block .psw-select-block ul.simple-list li, .psw-outer-block .psw-select-block ul li.empty-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
    padding-top: 7px;
    padding-bottom: 6px;
    margin-right: -23px;
    margin-left: -23px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.psw-outer-block .psw-select-block ul li.empty-value {
    color: #ff0000;
}
.psw-outer-block .psw-select-block ul.simple-list li:not(.empty-value):hover,
.psw-outer-block .psw-select-block ul.simple-list li[aria-selected="true"] {
    color: #ffffff;
    cursor: pointer;
}
#search-from-block .psw-outer-block .psw-select-block ul.simple-list li:not(.empty-value):hover,
#search-from-block .psw-outer-block .psw-select-block ul.simple-list li[aria-selected="true"] {
    background-color: #c94897;
}
#search-to-block .psw-outer-block .psw-select-block ul.simple-list li:not(.empty-value):hover,
#search-to-block .psw-outer-block .psw-select-block ul.simple-list li[aria-selected="true"] {
    background-color: #ffb100;
}

/*.psw-text {
    font-size: 12px;
}*/

.psw-element .psw-delete {
    float: right;
    right: 12px;
    margin-top: 5px;
    font-size: 10px;
    color: #777777;
}
.psw-element:not([disabled]) .psw-delete:hover {
    color: #ff0000;
}

.psw-element .psw-open {
    float: right;
    right: 15px;
    margin-top: 2px;
    font-size: 10px;
    color: #777777;
}

.psw-element .psw-open:hover {
    color: #0000FF;
}

.psw-value {
    white-space: nowrap;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    border: none 0;
    background: #fff;
    text-align: left;
    padding: 0;
    pointer-events: none;
}

.psw-placeholder {
    color: #999999;
}

.empty-value #add-new-value{
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}