.psw-element {
    cursor: pointer;
    position: relative;
    padding-top: 6px !important;
}

.psw-element .select2-selection__arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F2F1F0 #767473 #767473 #F2F1F0;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    /*height: 28px;*/
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    background-color: #D6D2D0;
}

.psw-element .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.psw-outer-block {
    position: relative;
}
.psw-inner-block {
    position: absolute;
    width: 100%;
    z-index: 3;
    font-size: 12px;
    background: #FFF;
}
.psw-outer-block .psw-select-block {
    border: solid 1px #AAA;
    max-height: 200px;
    overflow-y: scroll;
}

.psw-outer-block .psw-select-block ul li {
    list-style: none;
    padding: 0;
}
.psw-outer-block .psw-select-block ul {
    padding: 0;
}
.psw-outer-block .psw-select-block ul li.section-list strong {
    background-color: #EEE;
    padding: 4px 10px;
    display: inline-block;
    width: 100%;
}
.psw-outer-block .psw-select-block ul.simple-list li, .psw-outer-block .psw-select-block ul li.empty-value {
    padding: 4px 10px;
}
.psw-outer-block .psw-select-block ul li.empty-value {
    color: #ff0000;
}
.psw-outer-block .psw-select-block ul.simple-list li:not(.empty-value):hover {
    background-color: #0000aa;
    color: #ffffff;
    cursor: pointer;
}
.psw-outer-block .psw-select-block ul.simple-list li[aria-selected="true"] {
    background-color: #ddf5ff;
    color: #226688;
}

.psw-text {
    font-size: 12px;
}

.psw-element .psw-delete {
    float: right;
    right: 12px;
    margin-top: 5px;
    font-size: 10px;
    color: #777777;
}
.psw-element:not([disabled]) .psw-delete:hover {
    color: #ff0000;
}

.psw-element .psw-open {
    float: right;
    right: 15px;
    margin-top: 2px;
    font-size: 10px;
    color: #777777;
}

.psw-element .psw-open:hover {
    color: #0000FF;
}

.psw-value {
    white-space: nowrap;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    border: none 0;
    background: #fff;
    text-align: left;
    padding: 0;
}
.psw-value:focus {
    border: dotted 1px #AAAAAA;
}

.psw-placeholder {
    color: #999999;
}

.empty-value #add-new-value{
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}