html,
body {
    height: 100%;
}
body {
    /*font-family: YS Text,sans-serif;*/
    font-family: 'PT Sans', serif;
    color: #333;
    -webkit-text-size-adjust: 100%;
}
#page-content {
    position: relative;
    width: 1200px;
    margin: 30px auto 0;
    min-height: calc(100% - 100px);
}

#header {
    height: 70px;
}

#footer {
    width: 100%;
    background: #e5e5e5;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1);
    clear:both;
    height: 157px;
    /*margin-top:-157px;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ------ */



.header-border {
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px 0;
}
.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    margin: 0 auto 0;
}

.logo-section {
    padding-top: 12px;
    white-space: nowrap;
    z-index: 20;
}

.nav-section {
    opacity: 1;
    transition: opacity .3s;
    height: 70px;
    line-height: 70px;
}
.header-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-nav-item {
    display: inline-block;
    margin-right: 30px;
}
#header a:link, #header a:visited {
    text-decoration: none;
}
.header-nav-link {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0,0,0,.4);
    transition: color .15s ease-out;
    font-family: Arial,Helvetica,sans-serif;
}

.user-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    z-index: 20;
    height: 70px;
    line-height: 70px;
}
.user-section a:link {
    color: #333333;
}
.user-section-orders {
    font-size: 15px;
    margin-right: 15px;
    white-space: nowrap;
}


.search-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    margin: 0 auto 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    transition: top .5s;
    padding-top: 17px;
}

.header-title {
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    transition: opacity .3s,height .3s,font-size .3s;
    white-space: nowrap;
}

/*
.search-button {
    height: 50px;
    padding: 9px 10px;
    font-size: 18px;
    line-height: 28px;
    transition: background-color .1s ease-out 0s;
    border-radius: 3px;
    background-color: #ffdb4d;
    font-weight: 500;
    color: #000;
    border: none;
}
.search-button span {
    padding: 0 15px;
} */
#search-form .search-button {
    height: 100%;
    padding: 0 2%;
    font-weight: 500;
    line-height: 32px;
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ffdb4d;
    cursor: pointer;
}
.search-button:hover {
    background-color: #FFD633;
}

.payment-button {
    height: 100%;
    padding: 0 10%;
    font-weight: 500;
    line-height: 32px;
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ffdb4d;
    cursor: pointer;
}
.payment-button:hover {
    background-color: #FFD633;
}

/* начало */
#search-form {
    display: flex;
    font-size: 15px;
    position: absolute;
    margin-left: 190px;
    width: 73%;
    margin-top: 16px;
    height: 36px;
}
#search-form.uncovered {
    font-size: 18px;
    margin-left: 0;
    width: 100%;
    margin-top: 60px;
    height: 45px;
}


.search-form-block {
    /*border: 2px solid #DDDDDD;*/
    /*height: 50px;*/
    display: flex;
    margin-right: 8px;
    width: 100%;
}
#search-form .point-input {
    height: 100%;
    color: #DDDDDD;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 2px 2px 2px 2px;
    margin: 0;
    display: inline-block;
    position: relative;
    margin-left: -2px;
}
#search-form .point-input:hover {
    color: #B2B2B2;
    border-color: #B2B2B2;
    z-index: 20;
    /*transition-duration: 3.3s;
    transition-property: font-size,line-height;
    transition-timing-function: ease-in-out;*/
}

#search-form #point-from, #search-form #point-to {
    /*width: 393px;*/
    width: 33%;
    /*height: 36px;*/
}
#search-form #date {
    width: 36%;
}
#search-form #point-from input, #search-form #point-to input {
    /*width: calc(100% - 46px);*/
    width:100%;
    /*height: 46px;*/
    height: 100%;
    /*margin: auto 14px;*/
    margin: auto 0;
    padding: 0 8px;
    box-sizing: border-box;
    border: none;
    color: #333;
}
#search-form #date input {
    /*width: calc(100% - 60px);*/
    width:100%;
    /*height: 46px;*/
    height: 100%;
    /*margin: auto 14px;*/
    margin: auto 0;
    /*padding: 0;*/
    padding: 0 8px;
    box-sizing: border-box;
    border: none;
    color: #333;
}
/* конец */




#search-form #search-form-date-img {
    position: absolute;
    margin-left: -8%;
    margin-top: 3%;
}
#search-form #date:hover {
    cursor: pointer;
}

#search-form .input_clear {
    top: 8px;
    right: 4px;
    width: 32px;
    height: 32px;
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/clear_size_m.94e54ee2.svg);
    position: absolute;
    z-index: 5;
    visibility: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity .1s ease-out;
    opacity: .3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#search-form .input_clear:hover {
    color: #000000;
}


#direction-switcher {
    background: #FFFFFF;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 2px;
    margin-left: -2px;
}
#direction-switcher:hover {
    z-index: 2;
    color: #B2B2B2;
    border-color: #B2B2B2;
}

/* отображение ошибки */
/*
.point-input-error.relative-popup {
    -webkit-transform: translateX(-50%) translateY(20px);
    transform: translateX(-50%) translateY(20px);
    min-width: auto;
    background-color: #ec7e7a;
    color: #fff;
    font-size: 13px;
    line-height: 2.15;
    padding: 0 10px;
    overflow: visible;
}
.relative-popup {
    overflow: hidden;
    position: absolute;
    top: 90%;
    left: 10%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 10px 20px -5px rgba(0,0,0,.4);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition-duration: .2s;
    transition-property: opacity,visibility,-webkit-transform;
    transition-property: transform,opacity,visibility;
    transition-property: transform,opacity,visibility,-webkit-transform;
}
.point-input-error.relative-popup::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    margin-left: -4px;
    top: -4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ec7e7a;
} */

/*
.field-error {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
}*/
#search-form .field-error {
    -webkit-transform: translateX(-50%) translateY(20px);
    transform: translateX(-50%) translateY(20px);
    background-color: #ec7e7a;
    color: #fff;
    font-size: 13px;
    line-height: 2.15;
    padding: 0 10px;
    display: none;
    position: absolute;
    top: 90%;
    left: 10%;
    z-index: 1000;
    margin: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 10px 20px -5px rgba(0,0,0,.4);
    transition-duration: .2s;
    transition-property: transform,opacity,visibility,-webkit-transform;
    overflow: visible;
}
#search-form .field-error::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    margin-left: -4px;
    top: -4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ec7e7a;
}



#trip-title {
    margin: 10px 0 5px 0;
}
#trips-count-text {
    font-size: 12px;
    color: #888888;
}
.priceline {
    border-top: 1px solid rgba(22,23,24,.05);
    border-bottom: 1px solid rgba(22,23,24,.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
}
.priceline_cell_for_message {
    height: 104px;
    width: 170px;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.priceline_message {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.priceline_verdict {
    font-size: 20px;
    margin-bottom: 4px;
    white-space: nowrap;
}
.priceline_caption {
    font-size: 13px;
    line-height: 19px;
    color: #777;
}
.priceline_cell_for_timeline {
    height: 104px;
    padding: 20px 0;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    /*overflow: auto;*/
}
.priceline_cell_for_message {
    height: 104px;
    width: 170px;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.priceline a:hover {
    text-decoration: none;
}
.priceline a:hover *{
    color: #000000;
}
.priceline .priceline_cell a:hover {
    background: #f0f0f0;
}



.scroller {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    width: 100%;
}
.scroller_arrow_side_left {
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/arrow-left.187f7a79.svg),linear-gradient(90deg,#fff,#fff 50%,hsla(0,0%,100%,0));
    background-position: 20%;
    left: 0;
}
.scroller_arrow {
    display: none;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: opacity .3s,background-color .3s,transform .1s ease-out,-webkit-transform .1s ease-out;
    flex-shrink: 0;
    cursor: pointer;
}
.scroller_body {
    overflow: hidden;
}
.priceline_timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: absolute;
    height: 100%;
}
.priceline_cell_for_day:first-child {
    padding-left: 0;
}
.priceline_day_first {
    margin-left: 0;
}
.priceline_day {
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 4px;
    border-radius: 8px;
    background: #f7f7f7;
}
.priceline_price {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #000;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transition: color .1s;
}
.priceline_date {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    text-align: left;
    transition: color .1s;
}
.priceline_day_current {
    cursor: default;
    box-shadow: inset 0 0 0 2px #ffdb4d;
}
.scroller_arrow_side_right {
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/arrow-right.96ca49cc.svg),linear-gradient(90deg,hsla(0,0%,100%,0),#fff 50%,#fff);
    background-position: 80%;
    right: 0;
}
/*
.scroller_arrow_active {
    display: block;
    cursor: pointer;
}*/




#footer-inner {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    padding: 24px 0;
    width: 1200px;
    margin: 0 auto 0;
}

.footer-top-section {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-description {
    color: #777;
}
.footer-description::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    margin: 24px 0;
}

.footer-bottom-section {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer-left {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.footer-left .y-link {
    display: inline-block;
    margin-right: 24px;
    white-space: nowrap;
}


#footer a:link, #footer a:visited {
    text-decoration: none;
}
#footer a:hover{
    color: red;
}


/* таблица на странице */
.serp-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}
.serp-sorting-bar-col {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #777;
    text-align: left;
    padding-bottom: 12px;
}
.serp-sorting-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.serp-sorting-button_active {
    margin-right: 6px;
}
.serp-sorting-button {
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
}
.serp-sorting-button_active .serp-sorting-button-arrow {
    visibility: visible;
}
.serp-sorting-button_state_asc .serp-sorting-button-arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.serp-sorting-button-arrow {
    display: inline-block;
    visibility: hidden;
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/arrowDown.37b4b4a1.svg);
    margin-left: 6px;
    margin-bottom: 1px;
    height: 5px;
    width: 9px;
    opacity: .6;
}
.serp-sorting-bar-currency-space {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.serp-item:nth-child(2n) {
    background: #f4f4f4;
}
.serp-item {
    font-size: 14px;
}
.serp-item:hover {
    box-shadow:inset 0 0 0 2px #ffdb4d;
    cursor:pointer
}
.serp-item_selected {
    cursor:default
}

.item-row {
    vertical-align: top;
}
.item-row-col:first-child {
    padding-left: 32px;
}
.item-row-col_width_25 {
    width: 25%;
}
.item-row-col {
    padding: 16px 8px 16px 0;
}
.item-row-time {
    margin-top: 6px;
}
.serp-table .page-typo_weight_bold {
    font-weight: 700;
    letter-spacing: .01em;
}
.page-typo_line_l {
    line-height: 23px;
}
.page-typo_size_l {
    font-size: 18px;
}
.page-typo {
    font-family: YS Text,sans-serif;
    font-weight: 400;
}
.page-typo_line_m {
    line-height: 21px;
}
.page-typo_size_m {
    font-size: 14px;
}
.page-typo {
    font-family: YS Text,sans-serif;
    font-weight: 400;
}
.page-typo_size_s {
    font-size: 12px;
}
.item-row-metas {
    color: #777;
    line-height: 19px;
}
.item-row-meta + .item-row-meta::before {
    content: "\B7";
    margin: 0 4px;
}
.ride-preview-price-primary {
    font-size: 18px;
    font-weight: 700;
}
.serp-table .y-button:link, .serp-table .y-button:visited {
    text-decoration: none;
}
.item-row-col:last-child {
    padding-left: 16px;
    padding-right: 32px;
}
.item-row-col_width_10 {
    width: 10%;
}
.serp-table .serp-buy-button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
.y-button_size_m {
    font-size: 15px;
    line-height: 32px;
    height: 32px;
}
.y-button_theme_action {
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: none;
    background: transparent;
}
.y-button, .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.y-button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.y-button_theme_action::before {
    transition: background-color .1s ease-out 0s;
    border-radius: 3px;
    background-color: #ffdb4d;
}
/*
.y-button::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}*/
.serp-buy-button > .y-button-text {
    margin: 0;
    padding: 0 16px;
}
.y-button_size_m .y-button-text {
    padding: 0 15px;
}
.item-row-col a.y-button:hover {
    color: #000000;
}


/*
.y-button-text {
    position: relative;
    resize: none;
    pointer-events: none;
}*/
.serp-buy-button-title {
    margin-top: 7px;
}
.serp-buy-button-subtitle {
    color: #777;
}
.page-typo_line_s {
    line-height: 15px;
}
.page-typo_size_s {
    font-size: 12px;
}
.page-typo {
    font-family: YS Text,sans-serif;
    font-weight: 400;
}

/* конец таблицы на странице */

.serp-widgets {
    margin-top: 50px;
    margin-bottom: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.become-partner {
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 32px;
}
.become-partner-text, .become-partner-title {
    display: block;
}
.page-typo_weight_bold {
    font-weight: 700;
    letter-spacing: .01em;
}
.page-typo_line_l {
    line-height: 23px;
}
.page-typo_size_l {
    font-size: 18px;
}
.page-typo {
    font-family: YS Text,sans-serif;
    font-weight: 400;
}
.become-partner-text {
    color: #777;
    margin-top: 4px;
}
.become-partner-text, .become-partner-title {
    display: block;
}
.page-typo_line_m {
    line-height: 21px;
}
.page-typo_size_m {
    font-size: 14px;
}
.page-typo {
    font-family: YS Text,sans-serif;
    font-weight: 400;
}
a:link, a:visited {
    text-decoration: none;
}
.become-partner-button {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
}
.y-button_size_l {
    font-size: 18px;
    line-height: 38px;
    height: 38px;
}
.y-button_theme_action {
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: none;
    background: transparent;
}
.y-button, .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.y-button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.y-button_theme_action::before {
    transition: background-color .1s ease-out 0s;
    border-radius: 3px;
    background-color: #ffdb4d;
}
/*
.y-button::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}*/
.become-partner-button {
    font-weight: 500;
    font-size: 14px;
}
.y-button_size_l {
    font-size: 18px;
    line-height: 38px;
}
.y-button_theme_action {
    color: #000;
}
.y-button, .y-button-text {
    white-space: nowrap;
}
.y-button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
}
.y-button_size_l .y-button-text {
    padding: 0 18px;
}
.y-button-text {
    position: relative;
    resize: none;
    pointer-events: none;
}
.y-button, .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.become-partner-button {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
}

.red {
    color: red;
}


/* Страница Рейса */

.ride-preview {
    width: 768px;
    box-sizing: border-box;
    padding: 32px;
    background-color: #f4f4f4;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.ride-preview-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.ride-preview > .ride-description {
    width: 300px;
}
.ride-preview-thread {
    max-width: 388px;
}
.ride-thread {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ride-preview-local-time-label {
    margin-top: 16px;
}
.ride-local-time-label {
    display: inline-block;
    padding: 0 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    background: rgba(22,23,24,.05);
    border-radius: 4px;
    color: rgba(0,0,0,.4);
}
.ride-thread-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    padding-left: 16px;
    margin-bottom: 8px;
}
.ride-thread-row:last-child {
    margin-bottom: 0;
}
.ride-thread-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    padding-left: 16px;
    margin-bottom: 8px;
}
.ride-thread-row::after, .ride-thread-row::before {
    display: block;
    position: absolute;
    content: "";
    background-color: #fb8c00;
}
.ride-thread-row::before {
    width: 8px;
    height: 8px;
    left: 0;
    top: 6px;
    border-radius: 100%;
}
.ride-thread-col_time {
    padding-right: 8px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}
.ride-thread-col {
    vertical-align: top;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.ride-thread-col_title {
    overflow: hidden;
}
.ride-thread-time {
    font-weight: 600;
    white-space: nowrap;
}
.ride-thread-date {
    font-size: 12px;
    line-height: 15px;
    color: #f3660b;
    white-space: nowrap;
}
.ride-thread-title_link::after {
    margin: 0 4px -1px;
}
.ride-thread-title_link::after, .ride-thread-title_select::after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/icon_pin_12.a7843b64.svg);
}
.ride-thread-subtitle {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #777;
}
.ride-thread-row::after {
    width: 2px;
    height: calc(100% + 6px);
    left: 3px;
    top: 8px;
}
.ride-thread-row::after, .ride-thread-row::before {
    display: block;
    position: absolute;
    content: "";
    background-color: #fb8c00;
}
.ride-facts {
    line-height: 1.5;
}
.ride-description-refund-info {
    margin-top: 8px;
}
.ride-facts-label {
    display: inline-block;
    margin-right: 4px;
    font-weight: 700;
    letter-spacing: .01em;
}
.ride-description-refund-info {
    margin-top: 8px;
}
.ride-expandable-refund-info-toggle {
    display: inline-block;
}


.trip {
    margin-bottom: 180px;
}

.trip .y-link {
    cursor: pointer;
    text-decoration: none;
    color: #04b;
}


.trip-section-wrap {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
    padding-bottom: 40px;
}
.trip .page, .trip .page-section {
    width: 1200px;
    margin: 40px auto 0;
}
.trip-section {
    width: 768px;
}
.trip-section .page-title {
    margin-bottom: 24px;
    margin-top: 0;
}
.trip .passenger-form {
    margin-bottom: 16px;
}
.trip .passenger-form {
    position: relative;
    background-color: #f4f4f4;
    padding: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.trip-add-book {
    margin-top: 24px;
}

.trip .y-button, .trip .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.passenger-form-head {
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 16px;
    position: relative;
}
.passenger-form-price-select {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
}
.passenger-form-head .y-select {
    margin-top: -2px;
}
.passenger-form-tarif {
    width: auto !important;
    vertical-align: middle;
}
.y-select-popup_theme_normal .y-select-item, .y-select_theme_normal {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.y-select {
    display: inline-block;
    min-width: 40px;
}
.passenger-form-tarif .y-button, .passenger-form-tarif .y-button_nah {
    color: #04b;
    line-height: inherit;
    display: inline;
}
.passenger-form-tarif .y-button_nah {
    padding: 0;
}
.y-select-button {
    width: 100%;
    text-align: left;
}
.y-button_arrow_down.y-button_size_m .y-button-text, .y-button_arrow_up.y-button_size_m .y-button-text {
    margin-right: 11px;
}
.y-select-button {
    width: 100%;
    text-align: left;
}
.passenger-form-head {
    font-size: 15px;
    line-height: 40px;
}
.passenger-form-seat-info .y-button {
    font-size: 13px;
}
.y-button, .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.y-button_theme_normal::before {
    transition: .1s ease-out;
    transition-property: border-color,border-width,background-color;
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}

.y-button::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}
.y-button_size_m .y-button-text {
    padding: 0 15px;
}
.y-button-text {
    position: relative;
    resize: none;
    pointer-events: none;
}

.trip .y-select-button {
    width: 100%;
    text-align: left;
}
.y-button_theme_normal {
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: none;
    background: transparent;
}

.passenger-form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 12px;
}
.passenger-form-fio {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.passenger-form-field {
    position: relative;
    width: 25%;
    padding: 0 6px;
    box-sizing: border-box;
}
.form-input {
    position: relative;
}
.form-input-label {
    font-size: 13px;
    color: #777;
    margin-bottom: 7px;
    display: inline-block;
}
.y-input_size_m, .y-input_size_m .y-input-control {
    line-height: 32px;
}
.y-input_size_m {
    font-size: 15px;
}
.y-input_theme_normal, .y-input_theme_normal .y-input-control {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000;
}
.y-input {
    position: relative;
    display: inline-block;
    width: 100%;
}
.y-input-box {
    position: relative;
    box-sizing: border-box;
    cursor: text;
}
.y-input_theme_normal .y-input-box::before {
    transition: .1s ease-out;
    transition-property: border-color,border-width;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    background-clip: padding-box;
}
.y-input-box::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    content: "";
    background-clip: padding-box;
}
.y-input_theme_normal, .y-input_theme_normal .y-input__control {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000;
}
.y-input-control {
    font-size: 100%;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
}
.form-input .y-select-button .y-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.y-button_arrow_down.y-button_size_m .y-button-text, .y-button_arrow_up.y-button_size_m .y-button-text {
    margin-right: 11px;
}
.y-select-button .y-button-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.y-button_size_m .y-button-text {
    padding: 0 15px;
}
.y-button-text {
    position: relative;
    resize: none;
    pointer-events: none;
}
.y-button, .y-button-text {
    display: inline-block;
    white-space: nowrap;
}
.form-input .y-select-button .y-button-text::after {
    right: 0;
}
.y-button_arrow_down .y-button-text::after, .y-button_arrow_up .y-button-text::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    content: "";
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out,-webkit-transform .1s ease-out;
    background: url(https://yastatic.net/q/bus/v0/static/desktop/media/arrow-down.072b5ee0.svg) 0 0 no-repeat;
}
.form-input .y-select {
    width: 100% !important;
}

.y-input_size_m .y-input-control, .y-input_size_m .y-input-hint {
    height: 32px;
    border-right-width: 10px;
    border-left-width: 10px;
}


.page-title {
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
}
.trip-contacts-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.trip-contacts-body .form-input {
    margin-right: 12px;
    width: 250px;
}
.trip-contacts-label {
    font-size: 11px;
    line-height: 15px;
    color: #777;
    margin-top: 26px;
    margin-left: 40px;
    width: 180px;
}
.y-checkbox-control {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.y-checkbox_size_s .y-checkbox-box {
    top: 2px;
    width: 14px;
    height: 14px;
}
.y-checkbox-box {
    position: relative;
    display: inline-block;
}

.y-checkbox_theme_normal .y-checkbox-view {
    transition: .1s ease-out;
    transition-property: border-color,border-width,background-color;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}
.y-checkbox-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.y-checkbox_size_s .y-checkbox-tick {
    bottom: 8px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-image: url(https://yastatic.net/q/bus/v0/static/desktop/media/tick_size_s.7b6a0a2d.svg);
}

.y-checkbox-tick {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    transition: bottom .05s,opacity .05s,visibility 0s .05s;
    transition-timing-function: ease-out;
    pointer-events: none;
    opacity: 0;
    background: 50% no-repeat;
}
.agreement-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #000;
    margin-left: 8px;
}
.agreement-content {
    font-size: 11px;
    line-height: 15px;
    color: #777;
}
.y-checkbox_size_m .y-checkbox-box {
    top: 3px;
    width: 17px;
    height: 17px;
}


/* Конец странице рейсе */


#login-form {
    padding-left: 10px;
}
#open-registration-form {
    padding-left: 27px;
}
#open-start-registration-form {
    padding-left: 27px;
}



.pay-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
}
.pay-form-table {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 13px;
    line-height: 17px;
}
.pay-form-total {
    text-align: right;
    margin-bottom: 16px;
}
.pay-form-item_total {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 0;
}
.pay-form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}
.pay-form-item_crossed .pay-form-item-whitespace, .pay-form-item_total .pay-form-item-whitespace {
    border-bottom: none;
}
.pay-form-item-whitespace {
    display: block;
    margin: 0 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-bottom: 1px dotted rgba(0,0,0,.5);
    height: 11px;
}
.pay-form-item_total .pay-form-item-value {
    font-weight: 500;
}
.pay-form-action {
    width: 320px;
    margin-left: 25px;
}
.pay-form-action .y-button {
    font-size: 22px;
    line-height: 48px;
    height: 48px;
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.passenger-form-remove {
    cursor: pointer;
    background: url(https://yastatic.net/q/bus/v0/static/desktop/media/icon-close-16-x-16.600cc02d.svg) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.form-input-error-msg {
    font-size: 11px;
    line-height: 1.4;
    color: #c00;
}
.agreement-label_error {
    color: #c00;
}
